@font-face {
  font-family: adobe;
  src: url(./fonts/AdobeFnt22.lst); }
@font-face {
  font-family: danield;
  src: url(./fonts/danielbd.ttf); }
@font-face {
  font-family: helvetica;
  src: url(./fonts/HelveticaNeue.ttc); }
@font-face {
  font-family: minion;
  src: url(./fonts/MinionPro-Regular.otf); }
html, body {
  margin: 0;
  height: 100%; }

/*------  The app -----*/
span {
  color: #39ff14; }

header {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  height: 100vh; }
  header h1 {
    font-family: 'helvetica';
    font-size: 5em;
    color: #fafafa; }

button {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 1em; }

.download {
  height: 100%;
  background-image: url(../images/phone2.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-transform: uppercase;
  text-align: right; }
  .download h1 {
    font-family: helvetica;
    font-size: 8em;
    position: relative;
    top: 25%;
    margin-right: 12vh; }
  .download .green {
    color: #39ff14;
    margin-top: -0.5em; }
  .download .buttons {
    position: relative;
    top: 20%;
    margin-right: 12vh; }

.features {
  background-color: #5224BC;
  height: 40vh;
  color: #fafafa;
  font-family: helvetica;
  font-size: 6em;
  display: flex;
  align-items: center;
  justify-content: center; }

.appFeatures {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5em; }
  .appFeatures img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .appFeatures h3 {
    color: #5224BC;
    font-family: helvetica;
    font-size: 3em; }
  .appFeatures p {
    font-size: 1.5em;
    font-family: 'adobe'; }

.right {
  text-align: right; }

.footer {
  background-color: #5224BC;
  height: 40vh;
  color: #fafafa;
  max-width: 100%;
  text-align: center;
  padding-top: 1em; }
  .footer h2 {
    font-family: adobe;
    font-size: 5em; }
  .footer .buttons {
    top: 20%; }

/*------- support us ------*/
.support-header {
  color: #fafafa;
  max-width: 100%;
  font-family: helvetica; }
  .support-header h1 {
    font-size: 12em;
    text-align: right;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.2em; }
  .support-header p {
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.2em;
    width: 70%; }
  .support-header .column {
    width: 50%;
    position: relative;
    top: 25%; }
  .support-header .column1 {
    float: left; }
  .support-header .column2 {
    float: right; }

.support {
  margin: 0 2em;
  padding-bottom: 2em;
  color: #fafafa;
  font-family: helvetica; }
  .support article {
    margin: 5em 2em;
    background-color: #5224BC;
    border-radius: 20px;
    padding: 2em;
    box-shadow: 6px 6px 20px #333333; }
    .support article h2 {
      font-size: 2.5em;
      margin-bottom: 0; }
    .support article p {
      font-size: 1.5em; }

/*# sourceMappingURL=style.css.map */
